body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    color: white;
}

input::placeholder {
    color: #bbb;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.signup-prompt {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.signup-link {
    color: blue;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}
